.slider-for{
	width: 500px;
	height: 250px;
	margin: 30px auto 1px;
	overflow: hidden;
}
img{
	width: 100%;
	min-height: 100%;
}
.slider-nav{
	width: 500px;
	height: 85px;
	margin: auto;
}
.slider-nav .slick-track{
	height: 85px;
}
.slick-arrow{
		position: absolute;
    top: 50%;
    z-index: 50;
    margin-top: -12px;
}
.slick-prev{
	left: 0;
}
.slick-next{
	right: 0;
}